body {
  margin: 0;
  padding: 0;
}

.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
  position: relative;
}

.main .content-left {
  position: fixed;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 30%;
  background-color: #0c1319;
  color: #f4f9fd;
  height: 100vh;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main .content-left .avatar img {
  width: 15rem;
  border-radius: 999px;
}

.main .content-left .information {
  text-align: center;
  width: 90%;
}

.main .content-left .information .intro {
  text-align: justify;
  text-indent: 2rem;
}

.main .content-left .work-with-lang, .main .content-left .work-with-framework {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main .content-left .work-with-lang .tag > p, .main .content-left .work-with-framework .tag > p {
  border: 1px solid #016742;
  border-radius: 99px;
  padding: .3rem 1rem;
  margin-right: .2rem;
  font-style: italic;
}

.main .content-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 70%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  top: 0;
  right: 0;
}

.main .content-right .menu {
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #fff;
  width: 70%;
  -webkit-box-shadow: 5px 5px 5px #f4f9fd;
          box-shadow: 5px 5px 5px #f4f9fd;
}

.main .content-right .menu .menu-item {
  padding: 1rem;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 900;
  font-size: larger;
  color: #016742;
}

.main .content-right .menu .menu-item:hover {
  text-decoration: underline;
}

.main .content-right .main-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 90%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 5rem;
}

.main .content-right .main-content .personal-project {
  height: 100rem;
  width: 100%;
  border: 1px solid black;
}

.main .content-right .main-content .experience {
  height: 100rem;
  width: 100%;
  border: 1px solid black;
}

.main .content-right .main-content .certification {
  width: 100%;
  height: 100rem;
  border: 1px solid black;
}
/*# sourceMappingURL=index.css.map */